<div class="register-page">
    <h2>Register</h2>
    <form [formGroup]="registerForm">
        <div class="justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
            </mat-form-field>
        </div>

        <div class="justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
        </div>
        
        <div class="justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
        </div>

        <div class="justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Password Confirmation</mat-label>
                <input type="password" matInput formControlName="passwordConfirmation">
            </mat-form-field>
        </div>

        <div id="controls" class="row">
            <button style="width: 20%;" [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button color="primary">
                Register
            </button>
        </div>

        <div>
            <p>Already have an account? <a routerLink="/login">Sign In</a></p>
        </div>
    </form>
</div>
